<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=9"/>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/require")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
</head>
@using SPMVCWeb.Helpers
<body style="display: none">
    <div id="navbar_container" class="navbar navbar-inverse navbar-fixed-top">
        <div id="divSPChrome"></div>
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("SP MVC", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.SPActionLink("Home", "Index", "Home", null, null)</li>
                    <li>@Html.SPActionLink("About", "About", "Home", null, null)</li>
                    <li>@Html.SPActionLink("Contact", "Contact", "Home", null, null)</li>
                </ul>
                <div class="navbar-right">
                    @if (ViewBag.User != null)
                    {
                        <uif-button ng-cloak class="my-account" uif-type="primary" ng-click="account.isOpen = true">
                            <uif-persona uif-style="square" uif-size="medium" uif-image-url='@ViewBag.User.ImageUrl.Replace("~splayouts", string.Concat(ViewBag.PageContextInfo.WebAbsoluteUrl.TrimEnd('/'), "/", ViewBag.PageContextInfo.LayoutsUrl))&size=S'>
                                <uif-persona-initials uif-color="lightBlue">@ViewBag.User.Initials</uif-persona-initials>
                                <uif-persona-primary-text>@ViewBag.User.Name</uif-persona-primary-text>
                            </uif-persona>
                        </uif-button>
                        <uif-panel ng-cloak uif-type="small" uif-is-open="account.isOpen" uif-show-overlay="true" uif-show-close="true" uif-is-light-dismiss="true">
                            <uif-panel-header>My Account</uif-panel-header>
                            <uif-content>
                                <div class="account-details">
                                    <uif-persona uif-style="round" uif-size="large"  uif-image-url='@ViewBag.User.ImageUrl.Replace("~splayouts", string.Concat(ViewBag.PageContextInfo.WebAbsoluteUrl.TrimEnd('/'), "/", ViewBag.PageContextInfo.LayoutsUrl))&size=M'>
                                        <uif-persona-initials uif-color="lightBlue">@ViewBag.User.Initials</uif-persona-initials>
                                        <uif-persona-primary-text>@ViewBag.User.Name</uif-persona-primary-text>
                                        <uif-persona-secondary-text><uif-icon uif-type="mail"></uif-icon>@ViewBag.User.Email</uif-persona-secondary-text>
                                    </uif-persona>
                                    <div class="account-actions">
                                        @Html.SPActionLink("Sign out", "Logout", "Account", null, null)
                                    </div>
                                </div>
                            </uif-content>
                        </uif-panel>
                    }
                </div>
            </div>
        </div>
    </div>
    <div id="content" class="container body-content">
        @if (ViewBag.PageContextInfo != null)
        {
            <script type="text/javascript">
                require(["jquery"], function($) {
                    var pageContextInfoJson = $("<div />").html('@Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.PageContextInfo)').text();
                    if (pageContextInfoJson) {
                        window._spPageContextInfo = JSON.parse(pageContextInfoJson);
                    }
                });
            </script>
        }
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/main")
    @RenderSection("scripts", required: false)
</body>
</html>
