<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("SP MVC", "Index", "Home", new { SPHostUrl = SharePointContext.GetSPHostUrl(HttpContext.Current.Request).AbsoluteUri, SPAppWebUrl = HttpContext.Current.Request[SharePointContext.SPAppWebUrlKey] }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { SPHostUrl = SharePointContext.GetSPHostUrl(HttpContext.Current.Request).AbsoluteUri, SPAppWebUrl = HttpContext.Current.Request[SharePointContext.SPAppWebUrlKey] }, null)</li>
                    <li>@Html.ActionLink("About", "About", "Home", new { SPHostUrl = SharePointContext.GetSPHostUrl(HttpContext.Current.Request).AbsoluteUri, SPAppWebUrl = HttpContext.Current.Request[SharePointContext.SPAppWebUrlKey] }, null)</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home", new { SPHostUrl = SharePointContext.GetSPHostUrl(HttpContext.Current.Request).AbsoluteUri, SPAppWebUrl = HttpContext.Current.Request[SharePointContext.SPAppWebUrlKey] }, null)</li>
                </ul><div class="navbar-right">
                    <uif-persona uif-style="square" uif-size="medium" uif-image-url="">
                        <uif-persona-initials uif-color="blue">@ViewBag.User.Initials</uif-persona-initials>
                        <uif-persona-primary-text>@ViewBag.User.Name</uif-persona-primary-text>
                    </uif-persona>
                </div>
            </div>
        </div>
    </div>
    <div id="content" class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/require")
    @Scripts.Render("~/bundles/main")
    @RenderSection("scripts", required: false)
</body>
</html>
