<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/require")
    @Scripts.Render("~/bundles/angular")
</head>
<body style="display: none">
    <div id="navbar_container" class="navbar navbar-inverse navbar-fixed-top">
        <div id="divSPChrome"></div>
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("SP MVC", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", null, null)</li>
                    <li>@Html.ActionLink("About", "About", "Home", null, null)</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home", null, null)</li>
                </ul>
                <div class="navbar-right">
                    @if (ViewBag.User != null)
                    {
                        <uif-persona ng-cloak uif-style="square" uif-size="medium" uif-image-url="">
                            <uif-persona-initials uif-color="blue">@ViewBag.User.Initials</uif-persona-initials>
                            <uif-persona-primary-text>@ViewBag.User.Name</uif-persona-primary-text>
                        </uif-persona>
                    }
                </div>
            </div>
        </div>
    </div>
    <div id="content" class="container body-content">
        @if (ViewBag.PageContextInfo != null)
        {
            <script type="text/javascript">
                require(["jquery"], function($) {
                    var pageContextInfoJson = $("<div />").html('@Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.PageContextInfo)').text();
                    if (pageContextInfoJson) {
                        window._spPageContextInfo = JSON.parse(pageContextInfoJson);
                    }
                });
            </script>
        }
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/main")
    @RenderSection("scripts", required: false)
</body>
</html>
